* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

header {
  background-image: linear-gradient(to right, rgba(62,7,88,255), rgba(158,15,153,255));
  width: 100%;
  padding-bottom: 2em;
  color: #ebe9e9;
}

nav > ul > li > a {
  color: #ebe9e9;
  text-decoration: none;
}

header > nav > ul {
  margin: 0;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav > ul > li {
  margin: 0;
  padding: 1em;
  list-style-type: none;
}

nav > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.header-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-content-container > div {
  padding: 2em;
}

.header-image-container {
  width: 40%;
}

.header-image-container > img {
  width: 100%;
  min-width: 200px;
  max-width: 350px;
}

.btn {
  border-radius: 200px;
  background-color: transparent;
  color: #ebe9e9;
  padding: 0.5em;
  padding-inline: 1em;
  font-weight: 600;
}

.btn-all-courses {
  background-color: rgba(238,88,170,255);
  border: 0;
}

.btn-all-courses:active {
  background-color: rgba(238, 88, 170, 0.647);
  transition: background-color 0.1s;
}

.btn-show-me-more {
  border: 1px solid rgba(238,88,170,255);
  color: rgba(238,88,170,255);
  font-weight: 500;
}

.btn-show-me-more:active {
  background-color: rgba(238,88,170,0.3);
  transition: background-color 0.1s;
}
