* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

header {
  background-image: linear-gradient(to right, rgba(62, 7, 88, 1), rgba(158, 15, 153, 1));
  width: 100%;
  padding-bottom: 2em;
  color: #ebe9e9;
}

nav>ul>li>a {
  color: #ebe9e9;
  text-decoration: none;
}

header>nav>ul {
  margin: 0;
}

nav>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav>ul>li {
  margin: 0;
  padding: 1em;
  list-style-type: none;
}

nav>ul>li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.header-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-content-container>div {
  padding: 2em;
}

.header-image-container {
  width: 40%;
}

.header-image-container>img {
  width: 100%;
  min-width: 200px;
  max-width: 350px;
}

.btn {
  border-radius: 200px;
  background-color: transparent;
  color: #ebe9e9;
  padding: 0.5em;
  padding-inline: 1em;
  font-weight: 600;
}

.btn-all-courses {
  background-color: rgba(238, 88, 170, 255);
  border: 0;
}

.btn-all-courses:active {
  background-color: rgba(238, 88, 170, 0.647);
  transition: background-color 0.1s;
}

.btn-show-me-more {
  border: 1px solid rgba(238, 88, 170, 255);
  color: rgba(238, 88, 170, 255);
  font-weight: 500;
}

.btn-show-me-more:active {
  background-color: rgba(238, 88, 170, 0.3);
  transition: background-color 0.1s;
}

.our-study-tracks-container {
  text-align: center;
}

.our-study-tracks-vision-container {
  display: flex;
  padding-top: 0.32em;
}

.our-study-tracks-vision-container>div {
  padding: 1em;
}

.our-study-tracks-container>p {
  margin-left: 8em;
  margin-right: 8em;
}

.our-study-tracks-vision-container>div>div>p {
  text-align: start;
}

.our-study-tracks-vision-container>div>div>h3 {
  color: rgba(158, 15, 153, 1);
}

.our-study-tracks-vision-container>div>div>img {
  max-width: 8em;
}

#separator {
  border-bottom: 3px solid rgba(158, 15, 153, 1);
  width: 6em;
  height: 0.1em;
  margin-inline: auto;
}

.our-robots-container {
  background-image: linear-gradient(to top, rgba(62, 7, 88, 1), rgba(158, 15, 153, 0));
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.section-title {
  color: rgba(160, 25, 150, 1);
  text-align: center;
}

.our-robots-images-container {
  display: flex;
  justify-content: space-around;
  padding-top: 1em;
}

.our-robots-images-container>div>img {
  max-width: 11em;
}

.whatsapp-logo-container {
  position: fixed;
  right: 1em;
  bottom: 1em;
  background-color: rgba(61, 175, 92, 1);
  padding: 1em;
  border-radius: 50%;
  border: 0.2em solid #ffffff;
}

.whatsapp-logo-container>img {
  max-width: 1em;
}

.how-it-works-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 1.5em;
}

.how-it-works-item-image {
  background-image: linear-gradient(to bottom, rgba(161, 18, 145, 1), rgba(236, 1, 148, 1));
  padding: 1.2em;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  text-align: center;
  margin-inline: auto;
}

.how-it-works-item-number {
  position: absolute;
  padding: 0.2em;
  padding-inline: 0.5em;
  border: 1px solid rgba(247, 131, 202, 1);
  border-radius: 50%;
  width: fit-content;
  background-color: #ffffff;
  top: -0.5em;
  right: 40%;
  margin: 0;
}

.how-it-works-item-container {
  flex: 1;
  padding-inline: 0.5em;
}

.how-it-works-item-number-container {
  position: relative;
}

.how-it-works-item-description {
  border: 3px dotted rgba(247, 131, 202, 1);
  max-width: 10em;
  text-align: center;
  margin-inline: auto;
}

.phase-5-container {
  display: flex;
  flex-direction: row;
  padding: 1em;
  background-image: linear-gradient(to bottom, rgba(62, 7, 88, 1), rgba(158, 15, 153, 1));
  color: #ffffff;
}

.phase-5-image-container {
  display: flex;
  align-items: center;
  width: 30%;
}

.phase-5-image-container > img {
  width: 100%;
}

.phase-5-content-container {
  padding-inline: 5em;
}

.phase-5-content-list-container {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.phase-5-content-list-item {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
}

.phase-5-content-list-item-description {
  padding-inline: 1em;
}
